* {
  margin: 0;
  padding: 0;
  font-family: "Work Sans", sans-serif;
}
a {
  text-decoration: none;
}
ol,
ul {
  list-style-type: none;
}
ul {
  list-style-image: url(../images/icons/check-symbol.png);
}

/* banner section style */
.banner {
  background: url(../images/banner1.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 180px;
  padding-bottom: 165px;
}
.banner-content {
  width: 1040px;
  margin: auto;
  text-align: right;
}
.banner-title {
  font-weight: 700;
  font-size: 65px;
  color: #151414;
}
.banner-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  padding-left: 500px;
  margin-bottom: 25px;
}
.banner-btn {
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  padding: 20px 25px;
  background: #f15b22;
  border-radius: 5px;
  border: 0;
}

/* failures section style */
.container {
  width: 1140px;
  margin: auto;
  margin-top: 130px;
}
.failures-content {
  display: flex;
  gap: 90px;
}
.failures-img img {
  width: 470px;
}
.failures-details {
  margin-top: 200px;
}
.section-title {
  font-weight: 700;
  font-size: 40px;
  color: #151414;
  margin-bottom: 25px;
}
.section-description {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-bottom: 10px;
}
.failures-list {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #444343;
  margin-left: 20px;
}
/* my plan section style */
.plan-head {
  text-align: center;
}
.plan-containt {
  display: flex;
  justify-content: space-around;
  text-align: center;
  margin-top: 50px;
}
.plan-img {
  margin-bottom: 15px;
}
.plan-title {
  font-weight: 700;
  font-size: 25px;
  color: #151414;
  margin-bottom: 6px;
}
.plan-description {
  font-weight: 500;
  font-size: 20px;
  color: #737272;
}
/* mindset section style */
.mindset {
  width: 1000px;
}
.mindset-content {
  background: url(../images/watch.png),
    linear-gradient(90deg, #f15b22 0%, rgba(241, 91, 34, 0) 100%);
  background-blend-mode: overlay;
  padding-top: 60px;
  padding-bottom: 60px;
  padding-left: 65px;
  border-radius: 8px;
}
.mind-title {
  font-weight: 700;
  font-size: 40px;
  color: #fff;
  width: 500px;
  margin-bottom: 20px;
}
.mind-btn {
  padding: 20px 36px;
  background: #fff;
  font-weight: 600;
  font-size: 20px;
  color: #f15b22;
  border: 0;
  border-radius: 5px;
}
/* contact style */
.contact {
  margin-top: 130px;
  background: #151414;
  width: 100%;
  padding: 100px 0;
}
.contact-content {
  width: 1140px;
  margin: auto;
  display: flex;
  justify-content: space-around;
}
.contact-head {
  font-weight: 700;
  font-size: 45px;
  color: #f8f8f8;
  margin-bottom: 6px;
}
.contact-info {
  font-weight: 400;
  font-size: 16px;
  line-height: 26px;
  color: #ffffff;
  margin-bottom: 15px;
  width: 470px;
}
.contact-icon img {
  width: 30px;
  margin-right: 10px;
}
.form-title {
  font-weight: 600;
  font-size: 25px;
  color: #fff;
  margin-bottom: 30px;
}
.contact-input {
  width: 280px;
  height: 50px;
  border: 1px solid #ffffff;
  border-radius: 8px;
  padding-left: 20px;
  background: transparent;
  font-weight: 400;
  font-size: 15px;
  color: #f3f3f3;
  margin-bottom: 15px;
}
